.hero{
      background-image:url("asset/co1.jpg");
      background-size: cover;
      background-position: center;
    }
    .overlay{
      background-color: rgba(0,0,0,0.5);
      min-height: 20vh;
    }
    .custom-border th,
    .custom-border td{
      border: 2px solid black;
    }
    
.html, body {
  height: 100%;
  margin: 0;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container.my-5 {
  flex: 1;
}

.logo {
    height: 130px;
}

.logo:hover {
    transform: scale(1.1);
    opacity: 1;
}